@{
    Page.Title = "Calendar";
    ViewBag.Title = "Calendar";
    ViewBag.Message = "View your specific timetable here";
    //Layout = "Your Layout Page goes here";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    
</div>