@{
    Page.Title = "Calendar";
    ViewBag.Title = "Calendar and Rooms";
    ViewBag.Message = "This page shows the calendar and all the rooms available on campus. Use the filter options to narrow them down. Use the Campus Map to locate rooms. (LINK INTERACTIVE MAP TO THE WORDS CAMPUS MAP)";
    //Layout = "Your Layout Page goes here";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    
</div>