    @{
        Page.Title = "Help";
        ViewBag.Title = "Help Centre";
        ViewBag.Message = "Try these answers to common problems. Click a question to show the answer.";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <hgroup class="title">
        <h2>@ViewBag.Message</h2>
    </hgroup>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/helppage.css">
    @Scripts.Render("~/scripts/helppage.js");
}

<section>
    <h3>Dashboard</h3>    
    <div class="container">
        <div class="header">
            <span>What does the dashoard show?</span>
        </div>
        <div class="content">
            <ul>
                <li>The dashboard shows the results of the previous round</li>
                <li>It shows the results of every request you made in the previous round, and some quick statistics about how many went through, were altered or were denied</li>
                <li>You can take action on requests that require it by clicking the ACTION button to the right of it</li>
            </ul>
        </div>
        <div class="header">
            <span>The dashboard says pending, what does that mean?</span>
        </div>
        <div class="content">
            <ul>
                <li>After a round ends, there's a slight gap before the Central Administrators enter all their responses</li>
            </ul>
        </div>
        <div class="header">
            <span>Editing a booking</span>
        </div>
        <div class="content">
            <ul>
                <li>You can take action on requests that require it by clicking the ACTION button to the right of it</li>
            </ul>
        </div>
    </div>

    <h3>Timetable</h3>
    <div class="container">
        <div class="header">
            <span>How to make a booking</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Timetable" in the menu</li>
                <li>Use the filters to select which Room and Module you are booking for</li>
                <li>Enter the duration you wish to book that module for by dragging the slider and clicking "Choose range"</li>
                <li>Alternatively, click on an individual week if you wish to book for a specific week</li>
                <li>Click "Select" after the information has been entered</li>
                <li>To make the booking, click on the grids in the timetable that you desire</li>
            </ul>
        </div>
        <div class="header">
            <span>How to view the timetable booking in periods</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Timetable" in the menu</li>
                <li>Click on "View in periods"</li>
            </ul>
        </div>
        <div class="header">
            <span>View which room is currently selected</span>
        </div>
        <div class="content">
            <ul>
                <li>When selecting which room and module you wish to book, the room you have selected will be shown on the right hand side</li>
            </ul>
        </div>
        <div class="header">
            <span>Selecting a room</span>
        </div>
        <div class="content">
            <ul>
                <li>By using the drop down filtering options, you can click which room you desire </li>
            </ul>
        </div>
        <div class="header">
            <span>Selecting a module</span>
        </div>
        <div class="content">
            <ul>
                <li>By using the drop down filtering options, you can click which module you desire </li>
            </ul>
        </div>
    </div>
    
    <h3>Rooms</h3>
    <div class="container">
        <div class="header">
            <span>View all rooms</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Rooms" in the menu</li>
                <li>Use the filter options at the top to narrow down the list</li>
            </ul>
        </div>
        <div class="header">
            <span>Finding a room that meets your requirements</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Rooms" in the menu</li>
                <li>Filter the list using the options at the top</li>
                <li>Top Tip! When you're making a request, we'll only show rooms meeting all of your requirements. You don't need to find a room before making a request</li>
            </ul>
        </div>
        <div class="header">
            <span>Locate a room on campus</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Rooms" in the menu</li>
                <li>Click on "Campus Map" in the description</li>
                <li>Enter the room code in the search bar on the top right hand side of the interactive map </li>
            </ul>
        </div>
    </div>


    <h3>Calendar</h3>
    <div class="container">
        <div class="header">
            <span>View the full timetable for staff or course member</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Calendar" in the menu</li>
                <li>Your booked modules will be shown </li>
            </ul>
        </div>
        <div class="header">
            <span>Choose course year</span>
        </div>
        <div class="content">
            <ul>
                <li>By clicking on the check boxes you can view first, second or third year</li>
            </ul>
        </div>
    </div>

        <h3>Settings</h3>
    <div class="container">
        <div class="header">
            <span>Changing your password</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Settings" in the menu, and click "Modify User"</li> 
                <li>Enter the old password in the Old Password box</li>
                <li>Enter the new password in the New Password box and the Confirm Password box</li>
                <li>Click "Update" </li>
            </ul>
        </div>
        <div class="header">
            <span>Adding a module</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Settings" at the top right, and click "Module Settings"</li>
                <li>Enter the module name in the Module Name box</li>
                <li>Enter the module code in the Module Code box</li>
                <li>Click "Add"</li>
            </ul>
        </div>
        <div class="header">
            <span>Removing a module</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Settings" at the top right, and click "Module Settings"</li>
                <li>Enter the module name in the Module Name box</li>
                <li>Enter the module code in the Module Code box</li>
                <li>Click "Delete"</li>
            </ul>
        </div>
        <div class="header">
            <span>Adding a room</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Settings" at the top right, and click "Room Settings"</li>
                <li>Enter the room code in the Room Code box</li>
                <li>Click "Add"</li>
            </ul>
        </div>
        <div class="header">
            <span>Removing a room</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Settings" at the top right, and click "Room Settings"</li>
                <li>Enter the room code in the Room Code box</li>
                <li>Click "Delete"</li>
            </ul>
        </div>
        <div class="header">
            <span>Signing Out</span>
        </div>
        <div class="content">
            <ul>
                <li>Click on "Log Out" at the top right and you shall be signed out</li>
            </ul>
        </div>
    </div>
</section>

<div>   
    <h3>Still need help? Contact Support.</h3>
</div>
