    @{
        ViewBag.Title = "Help Centre";
        ViewBag.Message = "Try these answers to common problems. Click a question to show the answer.";
    }

    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <hgroup class="title">
        <h2>@ViewBag.Message</h2>
    </hgroup>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<section>
        <h3>Dashboard</h3>
        <div data-role="collapsible">
            <h1>What does the dashoard show?</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>The dashboard says pending, what does that mean?</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Viewing details about a previous request</h1>
            <p>Answer</p>
        </div>

        <h3>Timetable</h3>
        <div data-role="collapsible">
            <h1>View all of your requests</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Sorting and filtering the list of requests</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Choosing facilities</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Editing a booking</h1>
            <p>Answer</p>
        </div>

        <h3>Calendar and Rooms</h3>
        <div data-role="collapsible">
            <h1>View all rooms</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Finding a room that meets your requirements</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Locate a room on campus</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>View the full timetable for course or staff or course member</h1>
            <p>Answer</p>
        </div>

        <h3>Upload File</h3>
        <div data-role="collapsible">
            <h1>Uploading a file</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Accessing the data</h1>
            <p>Answer</p>
        </div>

        <h3>Settings</h3>
        <div data-role="collapsible">
            <h1>Changing your password</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Changing the department name</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Adding a module</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Removing a module</h1>
            <p>Answer</p>
        </div>
        <div data-role="collapsible">
            <h1>Signing Out</h1>
            <p>Answer</p>
        </div>

        <div data-role="footer">
            <h1>Still need help? Contact Support.</h1>
        </div>
</section>
