@{
    ViewBag.Title = "Help Page";
    ViewBag.Message = "Questions and answers";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>
    <div class="container main-wrapper">
        <h4>Dashboard</h4>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">What does the dashboard show?</div>
                <div class="collapsible-body">
                    <p>
                        &bull; The dashboard shows the results of the previous round.<br>
                        &bull; It shows the results of every request you made in the previous round, and some quick statistics about how many went through, were altered or were denied.<br>
                        &bull; You can take action on requests that require it by clicking the <strong>ACTION</strong> button to the right of it
                    </p>
                </div>
            </li>

            <li>
                <div class="collapsible-header">The dashboard says pending, what does that mean?</div>
                <div class="collapsible-body">
                    <p>
                        &bull; After a round ends, there's a slight gap before the Central Administrators enter all their responses.
                    </p>
                </div>
            </li>
        </ul>

        <h4>Timetable</h4>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">How to make a request</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Choosing facilities</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>Editing a booking</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
        </ul>



        <h4>Calendar</h4>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">View all rooms</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Click on "Rooms" in the menu.<br>
                        &bull; Use the filter options at the top to narrow down the list.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Finding a room that meets your requirements</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Click on "Rooms" in the menu.<br>
                        &bull; Filter the list using the options at the top.<br>
                        <strong>Top Tip!</strong> When you're making a request, we'll only show rooms meeting all of your requirements. You don't need to find a room <i>before</i> making a request.
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Locate a room on campus</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Click on "Rooms" in the menu<br>
                        &bull; Click on "Campus Map" in the description<br>
                        &bull; Enter the room code in the search bar on the top right hand side of the interactive map
                    </p>
                </div>
                <div class="collapsible-header">View the full timetable for course or staff or course member </div>
                <div class="collapsible-body">
                    <p>
                        &bull;
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Requesting a room</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
        </ul>



        <h4>Upload File</h4>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">How to upload a file</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">How to access the data</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
        </ul>


        <h4>Account Settings</h4>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Changing your password</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Changing the department name</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">How to add a module</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">How to remove a module</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">Signing out</div>
                <div class="collapsible-body">
                    <p>
                        &bull; Answer
                    </p>
                </div>
            </li>
        </ul>
        <p>Still need help? Contact Support. </p>
    </div>
</section>
