@{
    ViewBag.Title = "Dashboard";
    ViewBag.Message = "Overview of your requests";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    <button onclick="test()" id="test">Test</button>
</div>
