
@section scripts{
    <!--Add the css and js files here using the absolute reference "~/Content/blahblah"-->
    <script src="~/Scripts/Index.js"></script>
    <link href="@Url.Content("~/Content/Dashboard.css")" rel="stylesheet">

    <!--Scripts for plugin-->
    <link href="~/Scripts/jquery-plugin-circliful-master/css/jquery.circliful.css" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-plugin-circliful-master/js/jquery.circliful.min.js"></script>
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<!-- Currently Active Rounds card -->
<section>
    <div>
        <!-- Actual table of active rounds -->
        <table>
            <!--Table header-->
            <thead>
                <tr>
                    <th colspan="4">Currently Active Rounds</th>
                    <th></th>
                </tr>
            </thead>
            <!-- End of table header -->
            <!--Check if there are actually any rounds active-->
            <!-- For each round in the activeRounds array passed to this page, output a row to the table for it -->
            <tr>
                <td><!--Sem 1 or 2--></td>
                <td>
                    <!--Round name</td>
                    <td><!--Requests made-->
                    Requests Made
                </td>
                <td><!--Days remaining--> Days Remaining</td>
                <td>
                    <form>
                        <!-- action="requests/" method="post">-->
                        <input type="hidden" name="filterSemester" /> <!--value="semester id"/>-->
                        <input type="hidden" name="filterRound" /> <!--value="round id/>-->
                        <button type="submit">View Requests</button>
                    </form>
                </td>
            </tr>

            <!-- If no rounds are active, say so; instead of just showing an empty table -->
            <tr>
                <td colspan="4">No rounds are currently accepting requests</td>
                <td>
                    <a href="requests/">View All Previous Requests</a>
                </td>
            </tr>

        </table>
    </div>
</section>
<!-- End currently active rounds card -->
<!-- Previous round results section -->
<!-- Contains a donut chart and counts of the results of the previous round -->
<div>

    <!-- Section title -->
    <div>
        <h1>Results</h1>
    </div>

    <!--For every item in 'previousRounds' as 'previousRound', do the following... -->
    <!-- Round Summary Container -->
    <div class=" ="container>
        <h3><span><!--previous round name - previous round (sem 1 or sem 2)--></span></h3>

        <!-- Check if they actually submitted requests -->
        <!-- Tell the user they didn't submit any requests instead of just showing an empty chart -->
        <div>
            <div>&Oslash;</div>
            <div>You didn't submit any requests for this round</div>
        </div>

        <!-- This state happens when a round has finished but the administrators havent entered any results. They are 'in limbo' so to speak -->
        <div>
            <div><i>schedule</i></div>
            <div>Results will appear here when Central Administrators finalize them.</div>
        </div>

        <!-- Show cards of results -->

        <div>
            <div>

                <!-- Start Donut chart box -->
                <div>
                    <canvas id="round-chart" style="width: 100%; height: 200px;"></canvas>
                </div>
                <!-- End Donut chart box -->
                <!-- Request counts -->
                <div>
                    <!-- Requests made box -->
                    <div>
                        <!--<div class="dashboard-dial-bg"><!--amount of previous requests-->
                        <!--</div>
                        <div class="dashboard-dial-bg-bottom">Requests Made</div>-->
                    </div>

                    <!-- Requests denied box -->
                    <div>
                        <!--<div class="dashboard-dial-bg"><!--amount of previous requests denied-->
                        <!--</div>
                        <div class="dashboard-dial-bg-bottom">Denied</div>-->
                    </div>

                    <!-- Requests altered box -->
                    <div>
                        <!--<div class="dashboard-dial-bg"><!--amount of previous requests altered-->
                        <!--</div>
                        <div class="dashboard-dial-bg-bottom">Altered</div>-->
                    </div>

                    <!-- Requests approved box -->
                    <div>
                        <!--<div class="dashboard-dial-bg"><!--amount of previous requests approved-->
                        <!--</div>
                        <div class="dashboard-dial-bg-bottom">Approved</div>-->
                    </div>
                </div>
                <!-- End request counts -->

            </div>
        </div>
    </div>
    <!-- End Round Summary Container -->
    <!-- Javascript to show the pie chart -->
    <!--<script type="text/javascript">
        var overallData = [
            {
                title: "Denied",
                value : <!--amount of previous requests denied-->
    <!--,
    <!--color: "#F44336"
    },
    {
    title: "Altered",
    value:  -->
    <!--amount of previous requests altered-->
    <!--,
    color: "#FFC107"
    },
    {
    title: "Approved",
    value:  -->
    <!--amount of previous requests approved-->
    <!--,
            color: "#8BC34A"
            }
        ];
        var isDashboard = true;
    </script>-->
    <!-- End Pie Chart Javascript -->
    <!-- Denied requests section -->
    <div>
        <!-- Card heading -->
        <h2>Denied</h2>
        <p>These requests were completely denied. You can make a new request from the actions menu.</p>

        <!-- Put the table in a scrollable wrapper so it can be scrolled horizontally without overflowing the viewport on phones -->
        <div>
            <table>

                <!-- Column headings -->
                <thead>
                    <tr>
                        <th width="25%">Module</th>
                        <th width="25%">Time</th>
                        <th width="15%">Requested</th>
                        <th width="15%">Assigned</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <!-- End Column Headings -->
                <!-- Add a row to the table, for every request in this round's requests array that has the status "3" (rejected) -->
                <!-- The actual template for the row is stored in request-row.twig -->


            </table>
        </div>
        <!-- End .scrollable-table-wrapper -->
    </div>

    <!-- end Denied requests section -->
    <!-- Same as denied section but for changed ones -->
    <div>
        <h2>Altered</h2>
        <p>These requests were altered. If the allocated is acceptable then you don't need to do anything alternativly you can release the room and make a new request from the actions menu.</p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th width="25%">Module</th>
                        <th width="25%">Time</th>
                        <th width="15%">Requested</th>
                        <th width="15%">Assigned</th>
                        <th width="15%"></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

    <!-- Same as denied and changed section but for approved ones -->
    <div>
        <h2>Approved</h2>
        <p>These requests have been approved. If you don't need a request for any reason you can release it from the actions menu.</p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th width="25%">Module</th>
                        <th width="25%">Time</th>
                        <th width="15%">Requested</th>
                        <th width="15%">Assigned</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<!--Pie chart initialisation-->
<script>
    $(document).ready(function () {
        $("#your-circle").circliful({
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 15,
            percent: 75
        });
    });
</script>