@{
    Page.Title = "Dashboard";
    ViewBag.Title = "Dashboard";
    ViewBag.Message = "Welcome to your dashboard. This page shows the results from the previous round.";
}

@section scripts{
    <script src="~/Scripts/Index.js"></script>
    @Styles.Render("~/Content/index");
    <!--Scripts for plugin-->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-plugin-circliful-master/js/jquery.circliful.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard.css">
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<!-- Currently Active Rounds card -->
<div>
        <h3>Currently Active Rounds</h3>
        <div>These are your currently active rounds, which are still pending. They will either be denied or approved.</div>
        <!-- Actual table of active rounds -->
        <!--Check if there are actually any rounds active-->
        <!-- For each round in the activeRounds array passed to this page, output a row to the table for it -->
    <table align="center" width="900">
        <tr>
            <td align="center" style="font-weight:bold"> <!--Sem 1 or 2-->
                Semester
            </td>
            <td align="center" style="font-weight:bold">
                Round Number
            </td>
            <td align="center" style="font-weight:bold">
                Requests Made
            </td>
            <td align="center" style="font-weight:bold">
                Days Remaining
            </td>
            <td align="center" style="font-weight:bold">
            </td>
        </tr>
        <!-- If no rounds are active, say so; instead of just showing an empty table -->
        <tr>
            <td align="center">No rounds are currently accepting requests</td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"><a href="requests/">View All Previous Requests</a></td>
       <!-- <td align="center"> <button type="submit" id="request-button">View Requests</button></td>
                    <!-- action="requests/" method="post">-->
                 <!--   <input type="hidden" name="filterSemester" /> <!--value="semester id"/>-->  
                 <!--   <input type="hidden" name="filterRound" /> <!--value="round id/>-->
        </tr>
    </table>
</div>
<!-- End currently active rounds card -->
<!-- Previous round results section -->

<br />
<div>
     <h3>Results</h3>
    <div>These are your overall results.</div>
        <!--For every item in 'previousRounds' as 'previousRound', do the following... -->
        <!-- Show all results -->
    <table align="center" width="900">
        <tr>
            <td align="center" style="font-weight:bold"> <div><img src="~/Images/Results.jpg" alt="Results" style="width:875px;height:225px;"></div><!--<canvas id="round-chart"; height:"100px"/canvas>--></td>
        </tr>
    </table>
</div>
   <!-- </table>  -->
        <!-- End Donut chart box -->
        <!-- Request counts -->
       
          <!--  <td align="center" style="font-weight:bold"> Requests Made </td>    <!-- Requests made box -->
            <!--<div class="dashboard-dial-bg"><!--amount of previous requests-->
            <!--</div>
            <div class="dashboard-dial-bg-bottom">Requests Made</div>-->
            <!-- Requests denied box --> 
     <!--       <td align="center" style="font-weight:bold">Denied</td>
            <!--<div class="dashboard-dial-bg"><!--amount of previous requests denied-->
            <!--</div>
            <div class="dashboard-dial-bg-bottom">Denied</div>-->
            <!-- Requests altered box -->
     <!--       <td align="center" style="font-weight:bold">Altered</td>
            <!--<div class="dashboard-dial-bg"><!--amount of previous requests altered-->
            <!--</div>
            <div class="dashboard-dial-bg-bottom">Altered</div>-->
            <!-- Requests approved box -->
      <!--      <td align="center" style="font-weight:bold"> Approved</td>
            <!--<div class="dashboard-dial-bg"><!--amount of previous requests approved-->
            <!--</div>
            <div class="dashboard-dial-bg-bottom">Approved</div>-->
            <!-- End request counts -->
      <!--  </tr>
    </table>
 </div> -->
 
    <!-- End Round Summary Container -->
    <!-- Javascript to show the pie chart -->
    <!--<script type="text/javascript">
        var overallData = [
            {
                title: "Denied",
                value : <!--amount of previous requests denied-->
    <!--,
    <!--color: "#F44336"
    },
    {
    title: "Altered",
    value:  -->
    <!--amount of previous requests altered-->
    <!--,
    color: "#FFC107"
    },
    {
    title: "Approved",
    value:  -->
    <!--amount of previous requests approved-->
    <!--,
            color: "#8BC34A"
            }
        ];
        var isDashboard = true;
    </script>-->
    <!-- End Pie Chart Javascript -->
    <!-- Denied requests section -->
<br />
<div>
        <!-- Card heading -->
        <h3>Denied</h3>
        <div>These requests were completely denied. You can make a new request from the actions menu.</div>
        <!-- Put the table in a scrollable wrapper so it can be scrolled horizontally without overflowing the viewport on phones -->
    <table align="center" width="900">
        <!-- Column headings -->
        <tr>
            <td align="center" style="font-weight:bold" width="20%">Module</td>
            <td align="center" style="font-weight:bold" width="20%">Time</td>
            <td align="center" style="font-weight:bold" width="20%">Requested</td>
            <td align ="center" style="font-weight:bold" width="20%">Date</td>
            <td align="center" width="20%"> </td>
        </tr>
        <tr>
            <td align="center"> COB131 Databases </td> 
            <td align="center"> Monday, Period 1 Weeks 1-12 </td>
            <td align="center"> CC011</td>
            <td align="center"> 01/01/2015</td>
            <td align="center"> <button type="submit" id="request-button">Action </button></td>
        </tr>
        <tr>
            <td align="center"> COA281 Object Oriented Requirements Analysis </td>
            <td align="center"> Thursday, Period 4 Weeks 2,4,6,8 </td>
            <td align="center"> JG02 </td>
            <td align="center"> 22/01/2015</td>
            <td align="center"> <button type="submit" id="request-button">Action </button></td>
        </tr>
    </table>
</div>
                <!-- End Column Headings -->
                <!-- Add a row to the table, for every request in this round's requests array that has the status "3" (rejected) -->
                <!-- The actual template for the row is stored in request-row.twig -->
<br />
<div>
        <h3>Altered</h3>  
        <div>These requests were altered. If the allocated is acceptable then you don't need to do anything alternativly you can release the room and make a new request from the actions menu.</div>
    <table align="center" width="900">
        <!-- end Denied requests section -->
        <!-- Same as denied section but for changed ones -->
        <tr>
            <td align="center" style="font-weight:bold" width="20%">Module</td>
            <td align="center" style="font-weight:bold" width="20%">Time</td>
            <td align="center" style="font-weight:bold" width="20%">Requested</td>
            <td align="center" style="font-weight:bold" width="20%">Date</td>
            <td align="center" width="20%"> </td>
        </tr>
        <tr>
            <td align="center" width="20%">There are currently no altered requests</td>
            <td align="center" width="20%"></td>
            <td align="center" width="20%"></td>
            <td align="center" width="20"></td>
            <td align="center" width="20%"> </td>
        </tr>
    </table>
</div>

    <!-- Same as denied and changed section but for approved ones -->
<br />  
<div>
        <h3>Approved</h3>
        <div>These requests have been approved. If you don't need a request for any reason you can release it from the actions menu.</div>
      <table align="center" width="900">
          <tr>
              <td align="center" style="font-weight:bold" width="20%">Module</td>
              <td align="center" style="font-weight:bold" width="20%">Time</td>
              <td align="center" style="font-weight:bold" width="20%">Requested</td>
              <td align="center" style="font-weight:bold" width="20%">Date</td>
              <td align="center" width="20%"></td>
          </tr>
          <tr>
              <td align="center"> COB131 Databases  </td>
              <td align="center"> Wednesday, Period 3 Weeks 1, 5-7 </td>
              <td align="center"> CC011 </td>
              <td align="center"> 12/02/2015</td>
              <td align="center"> <button type="submit" id="request-button">Action </button></td>
          </tr>
          <tr>
              <td align="center"> C0B290 Team Projects  </td>
              <td align="center"> Thursday, Period 3 Weeks 3, 4-7 </td>
              <td align="center"> J002 </td>
              <td align="center"> 16/03/2015</td>
              <td align="center"> <button type="submit" id="request-button">Action </button></td>
          </tr>
          <tr>
              <td align="center"> C0B201 Professional Issues In Computing </td>
              <td align="center"> Wednesday, Period 3 Weeks 6, 5-7 </td>
              <td align="center"> CC012 </td>
              <td align="center"> 19/03/2015</td>
              <td align="center"> <button type="submit" id="request-button">Action </button></td>
          </tr>
          <tr>
              <td align="center"> COC281 Software Project Management  </td>
              <td align="center"> Tuesday, Period 2 Weeks 1-5, 7-10, 12-16 </td>
              <td align="center"> CC012 </td>
              <td align="center"> 18/03/2015</td>
              <td align="center"> <button type="submit" id="request-button">Action </button></td>
          </tr>
          <tr>
              <td align="center"> COA281 Object Oriented Requirements Analysis  </td>
              <td align="center"> Friday, Period 3 Weeks 1-12 </td>
              <td align="center"> J001 </td>
              <td align="center"> 26/03/2015</td>
              <td align="center"> <button type="submit" id="request-button">Action </button></td>
          </tr>
      </table>
</div>


<!--Pie chart initialisation-->
<!--script>
    $(document).ready(function () {
        $("#your-circle").circliful({
            animationStep: 5,
            foregroundBorderWidth: 5,
            backgroundBorderWidth: 15,
            percent: 75
        });
    });
</script-->