<!--Timetable js files goes here, add the css here when ready-->
@section scripts{
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/timetable");
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="filter">
    <div>
        Filter goes here
    </div>
    Testing
    <select id="module-code">
        <option value="COA101">COA101</option>
    </select>
    <select id="module-name">
        <option value="Sys Engineering">Sys Engineering</option>
    </select>
    <div id="weeks-selected">

    </div>
    <input type="button" value="Click" id="range-selector">
    <ul class="weekRange"></ul>
</section>

<section id="timetable">
    <div id="weeks-range" class="horizontal-range">
        <div id="general" class="">
            General
        </div>
    </div>
    <div id="timetable-holder" style="height:30em"></div>
</section>