@{
    Page.Title = "Upload";
    ViewBag.Title = "Upload Page";
    ViewBag.Message = "Upload previous years files here";
    //Layout = "Your Layout Page goes here";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    
</div>