@{
    Page.Title = "Upload";
    ViewBag.Title = "Upload File";
    ViewBag.Message = "Upload previous year files here.";
    //Layout = "Your Layout Page goes here";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<div>
    <br>
<form action="upload.year" method="get" style="text-align:center;">
    File year: <input type="text" name="year" placeholder="yyyy/yy"><br>
    Select file (.csv) to upload: <input type="text" name="file.csv" placeholder="File.csv">
    <button type="button">Browse...</button><br>
    <button type="button">Upload File</button>
</form>
</div>