html {
height: 100%;
margin: 0;
padding: 0px 0px 200px 0px;
}

table{
    border: 2px solid #4A1863;
    background-color:#E9CCF1;
    text-align:center;
    height: 750px;
    width: 100%;
}

tr{
    border-top: 2px solid #4A1863;
}

th,td {
    border-left: 2px solid #4A1863;
}

th, tr, td {
    border-collapse: collapse;
}

td{
    padding: 0;
}
 
#form {
    float:right;
}

#course-list{
    float:left;
}

#timetable-holder{
    margin-top: 1.5em;
}

.highlight{
    background-color: #64097C;
    color: white;
    text-align: center;
}

.days{
    width: 10em;
}

.display{
    height: 50%;
    width: 100%;
}