*,
        *:before,
        *:after {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        body {
            background-color: #2d0a72;
            font-family: sans-serif;
        }

        .absolute-center,
        .menu,
        .menu .btn .fa,
        .menu .btn.trigger .line {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        .menu {
            width: 9.5em;
            height: 9.5em;

        }

        .menu .btn {
            position: absolute;
            background-color: #CB016D;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity: 0;
            z-index: -10;
            cursor: pointer;
            color: white;
            text-align: center;
            -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
            transition: opacity 1s, z-index 0.3s, transform 1s;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        .menu .btn:hover {
            background-color: #80dfff;

        }

        .menu .btn .fa {
            font-size: 1.9em;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
        }

        .menu .btn:hover {
            color: #80dfff;
        }

        .menu .btn.trigger {
            opacity: 1;
            z-index: 100;
            cursor: pointer;
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }

        .menu .btn.trigger:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);

        }

        .menu .rotater {
            position: absolute;
            right: 85%;
            width: 100%;
            height: 100%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 130% 50%;
        }

        .menu.active .btn-icon {
            opacity: 1;
            z-index: 50;
        }

        .menu.active .trigger .line {
            height: 0px;
            top: 45%;
        }

        /* horrible things are happening here
        for some reason nth-child(1) is always busy and elements starting from 2 */

        .rotater:nth-child(1) {
            -webkit-transform: rotate(-22.5deg);
            -ms-transform: rotate(-22.5deg);
            transform: rotate(-22.5deg);
        }

        .menu.active .rotater:nth-child(1) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(22.5deg);
            -ms-transform: translateX(-5em) rotate(22.5deg);
            transform: translateX(-5em) rotate(22.5deg);
        }

        .rotater:nth-child(2) {
            -webkit-transform: rotate(22.5deg);
            -ms-transform: rotate(22.5deg);
            transform: rotate(22.5deg);
        }

        .menu.active .rotater:nth-child(2) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-22.5deg);
            -ms-transform: translateX(-5em) rotate(-22.5deg);
            transform: translateX(-5em) rotate(-22.5deg);
        }

        .rotater:nth-child(3) {
            -webkit-transform: rotate(67.5deg);
            -ms-transform: rotate(67.5deg);
            transform: rotate(67.5deg);
        }

        .menu.active .rotater:nth-child(3) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-67.5deg);
            -ms-transform: translateX(-5em) rotate(-67.5deg);
            transform: translateX(-5em) rotate(-67.5deg);
        }

        .rotater:nth-child(4) {
            -webkit-transform: rotate(112.5deg);
            -ms-transform: rotate(112.5deg);
            transform: rotate(112.5deg);
        }

        .menu.active .rotater:nth-child(4) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-112.5deg);
            -ms-transform: translateX(-5em) rotate(-112.5deg);
            transform: translateX(-5em) rotate(-112.5deg);
        }

        .rotater:nth-child(5) {
            -webkit-transform: rotate(157.5deg);
            -ms-transform: rotate(157.5deg);
            transform: rotate(157.5deg);
        }

        .menu.active .rotater:nth-child(5) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-157.5deg);
            -ms-transform: translateX(-5em) rotate(-157.5deg);
            transform: translateX(-5em) rotate(-157.5deg);
        }

        .rotater:nth-child(6) {
            -webkit-transform: rotate(202.5deg);
            -ms-transform: rotate(202.5deg);
            transform: rotate(202.5deg);
        }

        .menu.active .rotater:nth-child(6) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-202.5deg);
            -ms-transform: translateX(-5em) rotate(-202.5deg);
            transform: translateX(-5em) rotate(-202.5deg);
        }

        .rotater:nth-child(7) {
            -webkit-transform: rotate(247.5deg);
            -ms-transform: rotate(247.5deg);
            transform: rotate(247.5deg);
        }

        .menu.active .rotater:nth-child(7) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-247.5deg);
            -ms-transform: translateX(-5em) rotate(-247.5deg);
            transform: translateX(-5em) rotate(-247.5deg);
        }

        .rotater:nth-child(8) {
            -webkit-transform: rotate(292.5deg);
            -ms-transform: rotate(292.5deg);
            transform: rotate(292.5deg);
        }

        .menu.active .rotater:nth-child(8) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-292.5deg);
            -ms-transform: translateX(-5em) rotate(-292.5deg);
            transform: translateX(-5em) rotate(-292.5deg);
        }

        .rotater:nth-child(9) {
            -webkit-transform: rotate(337.5deg);
            -ms-transform: rotate(337.5deg);
            transform: rotate(337.5deg);
        }

        .menu.active .rotater:nth-child(9) .btn-icon {
            -webkit-transform: translateX(-5em) rotate(-337.5deg);
            -ms-transform: translateX(-5em) rotate(-337.5deg);
            transform: translateX(-5em) rotate(-337.5deg);
        }