table{
    border: 2px solid #4A1863;
    background-color:#F2F2F2;
}

tr{
    border-top: 2px solid #4A1863;
}

th {
    border-left: 2px solid #4A1863;
}

th, tr, td {
    border-collapse: collapse;
    padding: 5px;
}


.container {
    width:75%;
    border:2px solid #4A1863;
    align-items:center;
    align-content:center;
    margin-right:auto;
    margin-left:auto;
}

.container .header {
    background-color:#F2F2F2;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.container .header:hover {
     background-color:#80dfff;
}

.container .content {
    display: none;
    padding : 15px;
}

.left-col{
    width: 25%;
    position: absolute;
}

.right-col{
    width: 25%;
    margin-top: -15px;
    margin-left: 20em;
    position: absolute;
}