@model teamprojects17.Models.TimetableModel

@{
    Page.Title = "Calendar";
    ViewBag.Title = "Calendar";
    ViewBag.Message = "View your specific timetable here";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

@section scripts{
}

    <div>
    
    </div>
