@model List<teamprojects17.Models.TimetableModel>
@using Newtonsoft.Json

@{
    Page.Title = "Calendar";
    ViewBag.Title = "Calendar";
    ViewBag.Message = "View your specific timetable here";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

@section scripts{
    <script type="text/javascript" language="C#">
        var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        console.log(data);

        showTable();      

        function showTable() {
            var DAYS = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"];
            var PERIODS = ["", "Period 1", "Period 2", "Period 3", "Period 4", "Period 5", "Period 6", "Period 7", "Period 8",
                        "Period 9"];
            var table = "<table>";

            for (var i = 0; i < 10; i++) {
                table += "<tr><th>"+PERIODS[i]+"</th>"
                for (var j = 0; j < 5; j++) {
                    if(i == 0) {
                        table += "<th>" +DAYS[j]+"</th>"
                    } else {
                        table += "<td>"
                        for(var k = 0; k < data.length; k++) {
                            if(data[k].Period + 1 == i && data[k].Day == j){
                                table += displayModule(k);
                            }
                        }
                        table += "</td>"
                    }
                }
            }
            table += '</table>';
            $("#timetable-holder").html(table);
        }

        function displayModule(k) {
            var div = "<div>"+data[k].ModCode +"</div>";
            div += "<div>Weeks: " + data[k].WeekStart + " - " + data[k].WeekEnd+"</div>";
            return div;
        }

        
    </script>
}

    <div id="timetable-holder">
    
    </div>
